.App {
  text-align: center;
}

.App-logo {
  max-height: 30vmin;
  pointer-events: none;
}
.dropping{
  position:fixed;
  top: 0;
  margin-top: -50;
  display: block;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo, .App-logo2 {
    animation: App-logo-spin infinite 20s linear;
  }
  .dropping{
    animation: imgdrop 5s linear;
    max-height: 30vmin;
  }
}
.stay{
  position:fixed;
  top: 60%;
  max-height: 30vmin;
  display: block;
}

.randomImg{
  position:fixed;
  top: 0;
  margin-top: -30vmin;
  display: block;
  max-height: 30vmin;
}


.App-header {
  background: rgb(210,22,142);
  background: linear-gradient(90deg, rgba(210,22,142,1) 0%, rgba(253,29,29,0.8621381658132002) 49%, rgba(252,176,69,1) 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes imgdrop {
  from {
    bottom: 0%
  }
  to {
    top: 60%;
  }
}


.button{
	width: 50px;
	height: 50px;

  position: relative;


	border-radius: 5px;
	background: none;
	cursor: pointer;
}

#heart {
    width: 100px;
    height: 90px;

}
#heart:before,
#heart:after {
	transition: background 0.5s ease;
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background: red;
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}
#heart:after {
    left: 0;
    transform: rotate(45deg);
    transform-origin :100% 100%;
}